<div class="table-responsive">
  <table class="table ">
    <thead >
    <tr>
      <th> Created At</th>
      <th>Accessibility</th>
      <th>Performance</th>
      <th>PWA</th>
      <th>SEO</th>
      <th>Best-Practices</th>
      <th>First Contentful Paint</th>
      <th>First CPU Idle</th>
      <th>First Meaningful Paint</th>
      <th>Estimated Input Latency</th>
      <th>Time To Interactive</th>
      <th>Speed Index</th>
      <th>View Report</th>
    </tr>
    </thead>
    <% swish_reports.each_with_index do |swish_report, index| %>
      <tr>
        <th style="width: 6rem"><%= swish_report.created_at.to_formatted_s(:short) %></th>
        <td>  <%== metric_with_change(swish_report, :accessibility, swish_reports, index) %>     </td>
        <td>  <%== metric_with_change(swish_report, :performance, swish_reports, index) %>  </td>
        <td>  <%== metric_with_change(swish_report, :pwa, swish_reports, index) %>  </td>
        <td>  <%== metric_with_change(swish_report, :seo, swish_reports, index) %>  </td>
        <td>  <%== metric_with_change(swish_report, :best_practices, swish_reports, index) %>  </td>
        <td>  <%== metric_with_change(swish_report, :first_contentful_paint, swish_reports, index) %>

        </td>
        <td>  <%== metric_with_change(swish_report, :first_cpu_idle, swish_reports, index, 's', true) %>

        </td>
        <td>  <%== metric_with_change(swish_report, :first_meaningful_paint, swish_reports, index, 's', true) %>

        </td>
        <td>  <%== metric_with_change(swish_report, :estimated_input_latency, swish_reports, index, 's', true) %>

        </td>
        <td>  <%== metric_with_change(swish_report, :time_to_interactive, swish_reports, index, 's', true) %>

        </td>
        <td>  <%== metric_with_change(swish_report, :speed_index, swish_reports, index, 's', true) %>  </td>
        <td>
          <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=<%= swish_report.gist_id %>" target="_blank">View</a>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="collapse multi-collapse collapse-stats">

    <table class="table table-sm">
      <thead>
      <tr>
        <th> Statistic</th>
        <th>Accessibility</th>
        <th>Performance</th>
        <th>PWA</th>
        <th>SEO</th>
        <th>Best-Practices</th>
        <th>First Contentful Paint</th>
        <th>First CPU Idle</th>
        <th>First Meaningful Paint</th>
        <th>Estimated Input Latency</th>
        <th>Time To Interactive</th>
        <th>Speed Index</th>
      </tr>
      </thead>


      <% swish_reports_description.each do |key, value| %>
        <tr>
          <th>
            <%= key %>
          </th>
          <% value.each do |metric| %>
            <td><%= metric.round(2) %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>