<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"> Swish "<%= @swish.url %>"
    <small><a href="<%= @swish.url %>" target="_blank" title="Open Link"><i class='fas fa-external-link-alt'></i></a></small>


  </h1>

  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target=".collapse-stats" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Show
    Stats
  </button>

</div>
<div class="row">
  <div class="col-md-12">


    <div id="accordion">
      <% @swish_reports.each_with_index do |(url, swish_reports), index| %>
        <div class="card">
          <div class="card-header p-0" id="headingOne">

            <button class="btn btn-default btn-block text-left" data-toggle="collapse" data-target="#collapse-<%= index + 1 %>" aria-expanded="true" aria-controls="collapse-<%= index + 1 %>">
              Path: <%= URI(url).path == "" ? "/" : URI(url).path %>
              <small class="float-right"><a href="<%= url %>" target="_blank" title="Open Link"><i class='fas fa-external-link-alt'></i></a></small>
            </button>
          </div>

          <div id="collapse-<%= index + 1 %>" class="collapse
            <% if index == 0 %>show
            <% end %>" aria-labelledby="heading-<%= index + 1 %>" data-parent="#accordion">
            <div class="">
              <%= render partial: 'swish_report_table', locals: {swish_reports: swish_reports, swish_reports_description: @swish_reports_description[url]} %>

            </div>
          </div>
        </div>
      <% end %>

    </div>
    <!--    <div class="card ">-->
    <!--      <div class="card-body">-->
    <%#= render partial: 'swish_report_table', locals: {swish_reports: @swish.swish_reports, swish_reports_description: @swish_reports_description} %>
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>