<!DOCTYPE html>
<html>
<head>
  <title>SwishRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Catamaran:700|Lato&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'swish', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if current_user.present? %>
  <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
      <img src="/images/swish-inverse.png" alt="" width="30" height="30">
      <strong>Swish</strong>
    </a>
    <ul class="navbar-nav px-3">
      <li class="nav-item">

        <a href="<%= new_users_swish_url %>" class="nav-link">
          <i class="fas fa-plus-square"></i>
          Create a New Swish
        </a>

      </li>
    </ul>
    <!--  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav px-3">
      <li class="nav-item ">
        <%= link_to('Edit Profile', edit_user_registration_url, class: "nav-link") %>
      </li>
      <li class="nav-item ">
        <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "nav-link") %>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-chart-line"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= users_swish_index_url %>">
                <i class="fa fa-list-ul"></i>
                All Swishes
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= new_users_swish_url %>" class="nav-link">
                <i class="fas fa-plus-square"></i>
                Create a New Swish
              </a>
            </li>

          </ul>


        </div>
      </nav>
<% end %>
<main role="main" class="
  <% if current_user.present? %> col-md-9 ml-sm-auto col-lg-10
  <% end %> px-4">
  <%= yield %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= message %>
      <button class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

</main>
<% if current_user.present? %>
  </div>
  </div>
<% end %>

</body>
</html>