<!DOCTYPE html>
<html>
  <head>
    <title>SwishRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:700|Lato&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'frontend', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render 'shared/layouts/components/navigation' %>
  <%= yield %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <%= message %>
      <button class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>


  </body>
</html>
