.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem fade-out($primary, 0.5);
  }
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($secondary, 10%) !important;
    border-color: darken($secondary, 10%) !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem fade-out($secondary, 0.5);
  }
}

.alert {
  z-index: 10000;
  position: fixed;
  margin: 0;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .2);
  opacity: 0.95;

  top: 135px;
  right: 25px;
  bottom: auto;
  left: auto;
  width: auto !important;
  max-width: 250px;

  @include media-breakpoint-down(md) {
    width: 100% !important;
    max-width: 100%;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0 0 transparent;
    border-radius: 0;
    // padding: $spacer/2 0;
  }

  .close {
    text-shadow: 0 0 0 transparent;
  }

  &.alert-success,
  &.alert-danger,
  &.alert-info {
    color: $white;
  }
}